body{

}
*{
    box-sizing: border-box;
}
html,body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.container{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(3,1fr);
padding: 10px 200px;
gap: 5px;
}
.card{
    display: flex;
    height: 12vw;
    width: 16dvw;
justify-content: center;
   align-items: center;
    border: 5px solid rgb(0, 74, 13);
    border-radius: 10px;
background-color: rgba(0, 96, 26, 0.927);
color:#fff;
font-size: 2em ;
 
}

.close-btn {
  position: absolute;
  top: 4px;
  right: 6px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  cursor: pointer;
  z-index: 10;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.task-front, .task-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 18px;
  border: 1px solid #000;
}
.task-back {
  background: rgb(255, 255, 255);
  transform: rotateY(180deg);
}
/* Popup style */
.popup {
    display: flex;
    justify-content: center;
    align-items: center;
  position: fixed;top: 50%;left: 50%;
  width: 45vw;
  height: 75vh;
  transform: translate(-50%, -50%) rotateY(180deg);
  z-index: 1000;
}

/* Overlay */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
  display: none;
  z-index: 999;
}
